
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: sans-serif;
    background-color: #f0f0f0;
}

.block {
    border: 1px solid white;
}

.block-blue { background-color: #5d9cec; }
.block-aqua { background-color: #4fc1e9; }
.block-pink { background-color: #ed5565; }
.block-green { background-color: #48cfad; }
.block-yellow { background-color: #ffce54; }
.block-grey { background-color: #656d78; }
.block-brown { background-color: #a0522d; }